header {
  max-height: var(--header-height);
  background-color: transparent;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.7% 7.2%;
  transform: translateY(35%);
  transition: transform 0.5s ease 0.4s, background-color 0.5s ease;
}

header img {
  width: 10vw;
}

header .logoWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .logoWrapper .blackLogo {
  position: absolute;
  left: 0;
}

header .logoWrapper img {
  transition: opacity 0.5s ease;
}

header .lang-selector {
  position: relative;
  margin-right: var(--spacing-15);
  padding: 0.6vw var(--spacing-24) 0.7vw;
  font-size: var(--font-size-20);
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
}

header .lang-selector .selected {
  display: flex;
  align-items: center;
  color: var(--text-white-clear);
  transition: color 0.5s ease;
}

header .lang-selector .selected svg {
  margin-left: 0.5vw;
  display: inline-block;
  width: 1vw;
  aspect-ratio: 1/1;
}

header .lang-selector .selected svg path {
  transition: fill 0.5s ease;
}

header .lang-selector .list {
  box-shadow: 0 0 3px #00000040;
  background-color: var(--bg-white);
  position: absolute;
  border-radius: 20px;
  left: 50%;
  top: calc(100% - 0.28rem);
  transform: translate(-50%, 10%);
  padding: var(--spacing-8);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s step-end 0.4s, opacity 0.4s ease 0.4s;
}

header .lang-selector .list li:not(:last-child) {
  margin-bottom: var(--spacing-8);
}

header .lang-selector .list a {
  font-size: var(--font-size-20);
  border-radius: 15px;
  display: block;
  color: var(--text-dark);
  padding: var(--spacing-15) var(--spacing-36);
  transition: background-color 0.4s ease;
}

header .lang-selector .list a.current {
  pointer-events: none;
}

header .lang-selector .list a.current,
header .lang-selector .list a:hover {
  background-color: var(--bg-light-blue);
}

header .lang-selector:hover .list {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.4s step-start, opacity 0.4s ease;
}

header button.white {
  transition: color.5s ease, background-color 0.5s ease;
}

header .blackLogo {
  opacity: 0;
}

header.white-header {
  transform: translateY(0);
  background-color: white;
  transition: transform 0.5s ease, background-color 0.5s ease 0.4s;
}

header.white-header .blackLogo {
  opacity: 1;
}

header.white-header .whiteLogo {
  opacity: 0;
}

header.white-header .lang-selector .selected {
  color: var(--text-dark);
}

header.white-header .lang-selector .selected svg path {
  fill: var(--text-dark);
}

header.white-header button.white {
  color: var(--text-white-clear);
  background-color: var(--text-dark);
}

@media (max-width: 480px) {
  header {
    padding: var(--spacing-30) var(--spacing-24);
  }

  header img {
    width: 112px;
  }

  header .lang-selector {
    font-size: var(--font-size-14);
    padding: 0;
    margin-right: 0;
  }

  header .lang-selector .selected svg {
    width: var(--spacing-16);
  }

  header .lang-selector .list {
    top: 170%;
    left: unset;
    right: 0;
    transform: translateX(0);
    padding: var(--spacing-5);
  }

  header .lang-selector .list a {
    font-size: var(--font-size-14);
    padding: var(--spacing-10) var(--spacing-20);
  }

  header .lang-selector .list li:not(:last-child) {
    margin-bottom: var(--spacing-10);
  }

  header .lang-selector + .button {
    display: none;
  }
}
