.jquery-modal {
  z-index: 100;
  backdrop-filter: blur(3px);
  background-color: rgba(9, 9, 9, 0.5);
}

.thank-you-popup {
  max-width: unset;
  width: 22%;
  display: none;
  padding: var(--spacing-24);
  text-align: center;
  border-radius: var(--block-border-radius);
  background: linear-gradient(180deg, #f7faff 0%, #e9f2ff 100%);
}

.thank-you-popup img {
  width: var(--spacing-48);
}

.thank-you-popup h3 {
  color: var(--text-title-black);
  font-size: 1.1vw;
  font-weight: 600;
  margin: var(--spacing-16) 0 var(--spacing-20) 0;
}

.thank-you-popup a.close-modal {
  width: var(--spacing-30);
  top: var(--spacing-20);
  right: var(--spacing-27);
  background-image: url("../../public/media/icons/x-close.svg");
}

.thank-you-popup .button {
  width: 100%;
  font-size: var(--font-size-16);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.thank-you-popup .button.loading {
  pointer-events: none;
  touch-action: none;
}

.thank-you-popup .button .content {
  opacity: 1;
  display: flex;
  align-items: center;
  transition: opacity 0.5s ease 0.3s;
}

.thank-you-popup .button .dots {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.thank-you-popup .button.loading .content {
  opacity: 0;
}

.thank-you-popup .button.loading .dots {
  opacity: 1;
}

.thank-you-popup .button img {
  width: var(--spacing-20);
  margin-right: var(--spacing-8);
}

.thank-you-popup .button:first-of-type {
  margin-bottom: var(--spacing-8);
}

.dots {
  width: 5.8px;
  height: 5.8px;
  box-shadow: 9.6px 0, -9.6px 0;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.dots.white {
  background: #ffffff;
  color: #ffffff;
  animation: dots-white 1s infinite linear alternate;
}

@keyframes dots-white {
  0% {
    box-shadow: 9.6px 0, -9.6px 0;
    background: transparent;
  }

  33% {
    box-shadow: 9.6px 0, -9.6px 0 rgba(255, 255, 255, 0.13);
    background: rgba(255, 255, 255, 0.13);
  }

  66% {
    box-shadow: 9.6px 0 rgba(255, 255, 255, 0.13), -9.6px 0;
    background: rgba(255, 255, 255, 0.13);
  }
}

.dots.blue {
  background: #1883ff;
  color: #1883ff;
  animation: dots-blue 1s infinite linear alternate;
}

@keyframes dots-blue {
  0% {
    box-shadow: 9.6px 0, -9.6px 0;
    background: transparent;
  }

  33% {
    box-shadow: 9.6px 0, -9.6px 0 rgba(24, 131, 255, 0.13);
    background: rgba(24, 131, 255, 0.13);
  }

  66% {
    box-shadow: 9.6px 0 rgba(24, 131, 255, 0.13), -9.6px 0;
    background: rgba(24, 131, 255, 0.13);
  }
}

@media (max-width: 480px) {
  .thank-you-popup {
    width: 100%;
    padding: var(--spacing-24) var(--spacing-16);
  }

  .thank-you-popup.ru {
    padding-top: var(--spacing-160);
  }

  .thank-you-popup h3 {
    font-size: var(--font-size-18);
  }

  .thank-you-popup h3 br {
    display: none;
  }

  .thank-you-popup .button {
    padding: var(--spacing-12);
    font-size: var(--font-size-16);
  }

  .thank-you-popup .button img {
    margin-right: 8px;
  }

  .thank-you-popup .button:first-of-type {
    margin-bottom: 8px;
  }

  .thank-you-popup a.close-modal {
    top: var(--spacing-10);
    right: var(--spacing-10);
  }
}
