* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  padding: 1.6%;
}

main {
  overflow: hidden;
}

hr {
  background-color: var(--bg-seperator);
  width: 100%;
  height: 1px;
  border: none;
}

input {
  border: none;
  outline: none;
}

.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.flex.align-center {
  align-items: center;
}

.flex.justify-center {
  justify-items: center;
}

.text-center {
  text-align: center;
}

.text-blue-gradient {
  background: var(--text-title-blue-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-lightblue-gradient {
  background: var(--text-title-lightblue-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-brightblue-gradient {
  background: var(--text-title-brightblue-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-white-gradient {
  background: var(--text-title-white-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-white-180-gradient {
  background: var(--text-title-white-180-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-black-gradient {
  background: var(--text-title-black-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-blue {
  color: var(--text-title-blue);
}

.bg-blue {
  background-color: var(--bg-blue);
}

.mb-120 {
  margin-bottom: var(--spacing-120);
}

.mb-70 {
  margin-bottom: var(--spacing-70);
}

.mb-60 {
  margin-bottom: var(--spacing-60);
}

.d-none {
  display: none;
}

#titleFrom,
#titleTo {
  text-transform: uppercase;
}

@media (max-width: 480px) {
  body {
    padding-inline: 6px;
    padding-block: 0;
  }

  main {
    padding-top: var(--spacing-6);
  }

  .mb-120 {
    margin-bottom: var(--spacing-50);
  }

  .mb-60 {
    margin-bottom: var(--spacing-20);
  }
}
