/* banner section */
.banner-section {
  background: #0e132e url("../public/media/images/banner/bannerBg.jpeg")
    no-repeat center/cover;
  border-radius: var(--block-border-radius);
  /* height: calc(100vh - 3vh); */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.banner-section .content {
  text-align: center;
  padding-top: 8.5%;
}

.animateText {
  letter-spacing: -1.5px;
  font-size: var(--font-size-80);
  font-weight: 500;
  overflow: hidden;
  line-height: 100%;
  opacity: 0;
  padding-bottom: 3px;
  margin-top: -3px;
}

.animateText .letter {
  background: var(--text-title-white-180-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  display: inline-block;
  line-height: 1em;
}

.animateText.text-blue .letter {
  -webkit-text-fill-color: var(--text-title-blue);
  opacity: 0;
  display: inline-block;
  line-height: 1em;
}

.bannerText1,
.bannerText2 {
  display: inline-block;
}

.bannerText1 {
  margin-right: 5px;
}

.banner-section .content img {
  width: 12vw;
  transform: scale(0.6);
  opacity: 0;
  animation: logoFadeIn 2s ease forwards 1s;
  margin-bottom: 2.6vw;
}

.banner-section .content button {
  transform: scale(0.6);
  opacity: 0;
  animation: logoFadeIn 2s ease forwards 6s;
  margin-top: 3.2vw;
}

.banner-section .bannerGlobe {
  width: 100%;
  object-fit: cover;
  margin-top: 4.3%;
  transform: translateY(40%);
  opacity: 0.5;
  animation: globeFadeIn 2s ease forwards;
}

@keyframes logoFadeIn {
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes globeFadeIn {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* animated cards block */
.animated-cards {
  border-radius: var(--block-border-radius);
  overflow: hidden;
  padding: var(--spacing-100) var(--spacing-110) var(--spacing-110);
  background: url("../public/media/images/animatedCards/animatedCardsBg.jpeg")
    no-repeat center/cover;
}

.animated-cards h2 {
  font-size: var(--font-size-70);
  color: var(--text-title-black);
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 110%;
  margin-bottom: 3.5vw;
  transform: translateX(12.5%);
  transition: transform 1.5s ease;
  will-change: transform;
}

.animated-cards .cards-wrapper {
  display: flex;
  position: relative;
  z-index: 0;
  transform: translateX(12.5%);
  transition: transform 1.5s ease;
  will-change: transform;
}

.animated-cards .cards-wrapper.rightAligned {
  margin-top: var(--spacing-20);
  justify-content: flex-end;
  transform: translateX(-12.5%);
}

.animated-cards.slide-cards .cards-wrapper,
.animated-cards.slide-cards h2 {
  transform: translateX(0);
}

.animated-cards .cards-wrapper.rightAligned .card-item:last-of-type {
  width: 50%;
  margin-right: 0;
}

.animated-cards .cards-wrapper .card-item {
  width: calc(25% - var(--spacing-20));
  height: 26.1vw;
  margin-right: var(--spacing-20);
  border-radius: var(--block-border-radius);
  padding: var(--spacing-30) var(--spacing-34);
  background-color: var(--bg-white);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.animated-cards .cards-wrapper.rightAligned .card-item {
  height: 17.3vw;
}

.animated-cards .cards-wrapper .card-item:nth-of-type(1) {
  background-image: url("../public/media/images/animatedCards/card1.png");
  background-size: 80%;
}

.animated-cards .cards-wrapper .card-item:nth-of-type(2) {
  background-image: url("../public/media/images/animatedCards/card2.png");
}

.animated-cards .cards-wrapper .card-item:nth-of-type(3) {
  background-image: url("../public/media/images/animatedCards/card3.png");
}

.animated-cards .cards-wrapper.rightAligned .card-item:nth-of-type(1) {
  background-image: url("../public/media/images/animatedCards/card4.png");
}

.animated-cards .cards-wrapper.rightAligned .card-item:nth-of-type(2) {
  background-image: url("../public/media/images/animatedCards/card5.png");
}

.animated-cards .cards-wrapper .card-item img {
  width: 100%;
  object-fit: cover;
}

/* .animated-cards .cards-wrapper.slide-cards .card-item {
  transform: translateX(0);
  font-weight: 500;
  letter-spacing: -1px;
} */

.animated-cards .cards-wrapper .card-item p {
  font-size: var(--font-size-32);
  font-weight: 500;
  color: var(--text-body);
}

/* Globe section */

.globe-section {
  background: var(--bg-dark-blue)
    url("../public/media/images/globeSection/bg.jpg") no-repeat center/cover;
  display: flex;
  overflow: hidden;
  border-radius: var(--block-border-radius);
}

.globe-section :where(.left, .right) {
  display: flex;
  width: 50%;
  position: relative;
}

.globe-section .left {
  flex-direction: column;
  justify-content: space-between;
  padding: var(--spacing-120) var(--spacing-140);
}

.globe-section .left h3 {
  font-size: var(--font-size-100);
  letter-spacing: -2px;
  font-weight: 500;
  line-height: 100%;
}

.globe-section .left h2 {
  font-size: var(--font-size-120);
  letter-spacing: -2px;
  font-weight: 600;
  line-height: 100%;
}

.globe-section .left p,
.globe-section .right .text-block p {
  font-size: var(--font-size-32);
  color: var(--text-white-clear);
  opacity: 0.7;
  font-weight: 400;
  line-height: 110%;
}

.globe-section .right .globe-image {
  margin-left: auto;
  padding-top: 116%;
  width: 75%;
  background: url("../public/media/images/globeSection/globe.png") no-repeat
    center/cover;
}

.globe-section .right .text-block h3 {
  font-size: var(--font-size-64);
  font-weight: 500;
  letter-spacing: -1px;
  color: var(--text-white-clear);
  line-height: 100%;
}

.globe-section .right .text-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(24%);
  position: absolute;
  height: 100%;
  padding-block: 13%;
}

.globe-section .right .text-block > div:first-of-type,
.globe-section .right .text-block > div:last-of-type {
  transform: translateX(48%);
}
/* Globe section */

/* just registration */
.just-registration {
  border-radius: var(--block-border-radius);
  overflow: hidden;
  background-color: var(--bg-footer);
  padding-top: var(--spacing-120);
  display: flex;
  flex-direction: column;
  position: relative;
}

.just-registration::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(
    180deg,
    rgba(196, 219, 251, 0) 31.7%,
    #bcd6fc 100%
  );
  z-index: 1;
}

.just-registration::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(196, 219, 251, 0) 31.7%,
    #bcd6fc 100%
  );
  z-index: 1;
}

.just-registration h2 {
  text-align: center;
  font-size: var(--font-size-120);
  font-weight: 500;
  letter-spacing: -1px;
  color: var(--text-title-black);
  position: relative;
  z-index: 1;
}

.just-registration .iphonesImage {
  background: url("../public/media/images/showInCards/iphonesImage.png")
    no-repeat center/contain;
  width: 100%;
  padding-top: 47.5%;
  position: relative;
  z-index: 1;
  transform: translateX(4.5%);
  margin-top: -2%;
}

.just-registration .showCard {
  position: absolute;
  bottom: 5%;
  padding-top: 40%;
  opacity: 0;
  transform: translateY(20%);
  transition: transform 2s ease, opacity 2s ease;
}

.just-registration .showCard1 {
  background: url("../public/media/images/showInCards/leftCard.png") no-repeat
    center/contain;
  left: 0;
  width: 23%;
}

.just-registration .showCard2 {
  background: url("../public/media/images/showInCards/centerCard.png") no-repeat
    center/contain;
  left: 47%;
  transform: translate(-50%, 20%);
  width: 24%;
}

.just-registration .showCard3 {
  background: url("../public/media/images/showInCards/rightCard.png") no-repeat
    center/contain;
  right: 2%;
  width: 26%;
}

.just-registration.show-cards .showCard {
  opacity: 1;
  transform: translateY(0);
}

.just-registration.show-cards .showCard.showCard2 {
  transform: translate(-50%, 0);
}

.just-registration.show-cards .showCard1 {
  animation: float1 5s infinite ease-in-out alternate 2s;
}

.just-registration.show-cards .showCard2 {
  animation: float2 10s infinite ease-in-out alternate 2s;
}

.just-registration.show-cards .showCard3 {
  animation: float3 15s infinite ease-in-out alternate 2s;
}

@keyframes float1 {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-5%) rotate(5deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

@keyframes float2 {
  0% {
    transform: translate(-50%, 0) rotate(0deg);
  }
  50% {
    transform: translate(-50%, -3%) rotate(5deg);
  }
  100% {
    transform: translate(-50%, 0) rotate(-3deg);
  }
}

@keyframes float3 {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-7%) rotate(-7deg);
  }
  100% {
    transform: translateY(0) rotate(7deg);
  }
}
/* just registration */

/* debit section */
.debit-section {
  background: url("../public/media/images/debitMoney/debitBg.jpeg") no-repeat
    center/cover;
  border-radius: var(--block-border-radius);
  padding: var(--spacing-120) var(--spacing-120) 34.2%;
  position: relative;
  margin-bottom: 24%;
}

.debit-section h2 {
  font-size: var(--font-size-100);
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -2px;
}

.debit-section .iphones {
  background: url("../public/media/images/debitMoney/iphones.png") no-repeat
    center/contain;
  width: 89%;
  padding-top: 75%;
  position: absolute;
  top: 12.5%;
  right: -1.6%;
}
/* debit section */

/* personal section */
.personal-section {
  background: url("../public/media/images/personal/personalBg.png") no-repeat
    center/cover;
  padding-top: var(--spacing-130);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--block-border-radius);
  overflow: hidden;
  position: relative;
}

.personal-section::after {
  content: "";
  background: linear-gradient(
    180deg,
    rgba(196, 219, 251, 0) 31.7%,
    #bcd6fc 100%
  );
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10%;
  z-index: 1;
  pointer-events: none;
}

.personal-section h2 {
  font-size: var(--font-size-100);
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -2px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.personal-section .iphone {
  width: 100%;
  padding-top: 39.8%;
  background: url("../public/media/images/personal/iphone.png") no-repeat 69%
    center/contain;
  position: relative;
}

.personal-section .iphone .parallax-element {
  background: url("../public/media/images/personal/swapPopup.png"),
    radial-gradient(50% 50% at 50% 50%, #177dff30 0%, rgba(5, 49, 114, 0) 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 37%;
  padding-top: 30%;
  position: absolute;
  top: 30%;
  left: 39.5%;
  transition: transform 1s ease-out;
  will-change: transform;
}
/* personal section */

/* chat section */
.chat-section {
  padding: var(--spacing-120) 0 0 var(--spacing-110);
  border-radius: var(--block-border-radius);
  overflow: hidden;
  position: relative;
  background: url("../public/media/images/chat/chatBg.jpeg") no-repeat
    center/cover;
}

.chat-section::after {
  content: "";
  background: linear-gradient(180deg, rgba(0, 3, 34, 0) 0%, #000322 100%);
  position: absolute;
  left: 0;
  bottom: -5%;
  width: 100%;
  height: 20%;
  z-index: 1;
  pointer-events: none;
}

.chat-section h2 {
  font-size: var(--font-size-94);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -2px;
}

.chat-section .iphones {
  margin-top: -6.5%;
  position: relative;
  z-index: 1;
}

.chat-section .iphones .parallax-element {
  width: 100%;
  padding-top: 50%;
  background: url("../public/media/images/chat/iphones.png") no-repeat
    center/contain;
  transition: transform 1s ease-out;
  will-change: transform;
}

.chat-section .chat-icon {
  width: var(--spacing-130);
  position: absolute;
  bottom: 7%;
  right: 5.5%;
  z-index: 2;
}

.chat-section .bot-icon {
  height: 5.2vw;
  position: absolute;
  bottom: 9.6%;
  left: 5.9%;
  z-index: 0;
}

.chat-section .user-icon {
  position: absolute;
  width: 17.5vw;
  bottom: 23.6%;
  left: 5.9%;
}

.chat-section .conversation-icon {
  position: absolute;
  width: 32.8vw;
  bottom: 41.5%;
  right: 5.9%;
}
/* chat section */

/* digital revolution block */
.gsap-container {
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: var(--block-border-radius);
}

.gsap-container .gsap-image {
  height: calc(97vh - var(--header-height));
  width: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--block-border-radius);
}

.gsap-container .gsap-image.robo {
  background-image: url("../public/media/images/robo.jpg");
  border-radius: var(--block-border-radius);
  position: relative;
  z-index: 1;
}

.gsap-container .gsap-image.robo .text-box-robo {
  position: absolute;
  top: 0;
  left: 0;
  padding-inline: 10.5% 10%;
  padding-top: 10%;
}

.gsap-container .gsap-image.robo .text-box-robo h3 {
  font-size: var(--font-size-70);
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 110%;
  white-space: nowrap;
  margin-bottom: 4%;
}

.gsap-container .gsap-image.robo .text-box-robo p {
  letter-spacing: -1px;
  color: var(--text-white-clear);
  opacity: 0.7;
  font-size: var(--font-size-30);
}

.gsap-container > button {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  z-index: 1;
}

.gsap-container .gsap-image.human {
  background-image: url("../public/media/images/human.jpg");
  border-radius: var(--block-border-radius);
}

.gsap-container .gsap-image.spiral {
  background: url("../public/media/images/roboHuman/spiralBg.jpeg") no-repeat
    center/cover;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  padding-top: 6.5%;
}

.gsap-container .gsap-image.spiral .phoneImage {
  background: url("../public/media/images/roboHuman/spiralPhone.png") no-repeat
    center/cover;
  position: absolute;
  width: 45%;
  padding-top: 26%;
  top: 40%;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%) translateY(-40%);
  z-index: -1;
}

.gsap-container .gsap-image.spiral .text-box-spiral {
  transform: scale(0.5);
  opacity: 0;
  margin: auto;
}

.gsap-container .gsap-image.spiral .text-box-spiral h3 {
  font-size: var(--font-size-70);
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 100%;
  white-space: nowrap;
}

.gsap-container-mobile {
  display: none;
}

/* the future arrived block */
.the-future-arrived {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: var(--spacing-32);
  height: calc(100vh - var(--header-height));
  position: relative;
}

.the-future-arrived .content-block h2 {
  font-size: var(--font-size-116);
  font-weight: 500;
  letter-spacing: -4px;
  text-align: center;
  line-height: 110%;
  transform: translateY(-30%);
}

.the-future-arrived .content-block .scalable-element {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  background: url("../public/media/images/planet.jpg") center no-repeat;
  background-size: cover;
  transform: scale(0.1) translateY(130%);
}

.the-future-arrived .content-block .scalable-element .text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: scale(0.5) translateY(250%);
}

.the-future-arrived .content-block .scalable-element h2 {
  padding-bottom: 5px;
  background: var(--text-title-white-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: var(--font-size-116);
  font-weight: 500;
  letter-spacing: -1px;
  margin-bottom: var(--spacing-40);
}

@media (max-width: 1024px) {
  .phantomText {
    display: none;
  }
}

@media (max-width: 480px) {
  .banner-section {
  }

  .the-future-arrived {
    padding-inline: var(--spacing-14);
  }

  .the-future-arrived .content-block h2 {
    font-size: var(--font-size-48);
  }

  .the-future-arrived .content-block h2 br {
    display: none;
  }

  .the-future-arrived .content-block .scalable-element {
    overflow: hidden;
  }

  .the-future-arrived .content-block .scalable-element .text-box {
    padding-inline: var(--spacing-40);
  }

  .the-future-arrived .content-block .scalable-element h2 {
    font-size: var(--font-size-48);
    margin-bottom: var(--spacing-32);
  }

  .the-future-arrived.ru .content-block .scalable-element {
    transform: scale(0.1) translate(0, 200%);
  }

  .the-future-arrived.ru .content-block .text-move {
    padding-left: 0;
  }

  .gsap-container {
    display: none;
  }

  .gsap-container-mobile {
    display: block;
    margin-bottom: var(--spacing-64);
  }

  .gsap-container-mobile .robo-human {
    border-radius: var(--block-border-radius);
    background: url("../public/media/images/lightbg.jpg") center no-repeat;
    background-size: cover;
    margin-bottom: var(--spacing-20);
  }

  .gsap-container-mobile .robo-human h3 {
    margin-bottom: calc(-1 * var(--spacing-60));
    padding: var(--spacing-64) var(--spacing-24) 0;
    background: linear-gradient(
      143deg,
      #fff 18.17%,
      rgba(255, 255, 255, 0) 152.61%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: var(--font-size-32);
    font-weight: 400;
    line-height: 110%;
  }

  .gsap-container-mobile .robo-human h3 .text-blue {
    background: linear-gradient(138deg, #1456ff 48.48%, #6cb0ff 126.71%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .gsap-container-mobile .robo-human img {
    width: 100%;
  }

  .gsap-container-mobile .robo-human p {
    color: var(--text-transparent);
    font-size: var(--font-size-18);
    line-height: 120%;
    padding: 0 var(--spacing-73) var(--spacing-64) var(--spacing-24);
  }

  .gsap-container-mobile .spiral {
    border-radius: var(--block-border-radius);
    background: url("../public/media/images/spiral-mobile.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 103%;
  }

  .gsap-container-mobile .spiral .text-block {
    text-align: center;
    padding: var(--spacing-64) var(--spacing-38);
  }

  .gsap-container-mobile .spiral .text-block h3 {
    background: linear-gradient(
      143deg,
      #fff 18.17%,
      rgba(255, 255, 255, 0) 152.61%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: var(--spacing-32);
    font-weight: 400;
    line-height: 110%;
  }

  .gsap-container-mobile .spiral .text-block p {
    color: var(--text-transparent);
    font-size: var(--font-size-18);
    line-height: 120%;
    margin-block: var(--spacing-14) var(--spacing-32);
  }
}
